@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family:'Poppins', sans-serif;
	width: 100%;
	min-height: 100lvh;
}
/*
.primero {
	display: flex;
	position: relative;
	background-color: rgb(60, 55, 70);
	color: palegoldenrod;
	background-image: url('../img/logomultigames.png');
	background-size: 10% auto;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
}*/


@keyframes mover-izq-der {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(10px);
	}
}

.hero {
	display: grid;
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 300px;
	max-height: 600px;
	padding: 5px;
	grid-template-rows: 100px 1fr;
}

.hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	background-image: url('../img/logomultigames.png');*/
/*	background-image: url('../img/fer2.jfif');*/
	background-image: linear-gradient(180deg, #0000008c 0%, #ffffff8c 100%), url('../img/logomultigames.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
	z-index: -1;
}

.navbar {
	display: flex;
	position: relative;
/*	text-align: center;*/
	background: none;
	width: 100%;
	height: auto;
	justify-content: space-between;
	color: white;
/*	border: 1px solid white;*/
}

.primero-titulo {
	display: flex;
	position: relative;
	flex-direction: row;
/*	margin: 0 auto;*/
	font-weight: 900;
	width: auto;
	animation: mover-izq-der 3s 1;
	animation-fill-mode: forwards;
	color: palegoldenrod;
/*	border: 1px solid black;*/
}

.navbar-nav {
	display: block;
	position: relative;
	width: auto;
	height: auto;
/*	border: 1px solid black;*/
}

.nav {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
/*	border: 1px solid black;*/
	gap: .4em;
/*	justify-content: flex-end;*/
}

/*.nav-item a{
	color: white;
	text-decoration: none;
}*/

.nav-item {
	position: relative;
	display: flex;
	color: white;
	background: none;
	text-decoration: none;
	margin: auto;
	padding: 3px;
}

.nav-link {
	display: flex;
	position: relative;
	color: white;
	font-size: 0.7rem;
	background: none;
	border: none;
	text-decoration: none;
	width: 100%;
	gap: .1em;
}

.nav-link:hover:not(.active) {
	color: palegoldenrod;
}


.active .nav-link {
	background-color: rgba(250, 250, 250, .6);
	color: black;
	padding: 5px;
	border-radius: 2px;
}

main {
	position: relative;
	top: -150px;
/*	border: 1px solid darkred;*/
}

.call {
	background-color: #ffffff50;
	padding: .2em;
	color: black;
	border-radius: 3%;
	font-weight: 900;
}

.carusel {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
}

.slider {
	display: block;
/*	position: relative;*/
/*	align-content: center;
	justify-content: center;
*/	margin: 0 auto;
	width: 100%;
	height: auto;
}

.slide0 a {
	text-decoration: none;
}

.slide0 {
	 display: flex; 
	 position: relative; 
	 justify-content: center; 
	 align-content: center; 
	 text-align: center; 
	 justify-content: center; 
	 width: auto; 
	 height: auto; 
	background: linear-gradient( to top, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, 0.1) 100% );
}

.slide0 img {
	 display: flex;
	 position: relative;
	 background-size: cover;
	 margin: 0 auto;
	 padding: 0;
	 object-fit: fill;
	 transition: transform 0.3s ease-in-out;
	 width: 400px;
	 height: 600px;
	 max-width: 1200px;
}

.slider {
	display: block;
	position: relative;
}

/*.arrow {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 20%;
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	cursor: pointer;
	border: 1px solid black;
}
*/

.carousel-control-prev {
	position: absolute;
	top: 35%;
	left: 0.9%;
	cursor: pointer;
/*	border: 2px solid white;*/
	background-color: #30303050;
	border: none;
	padding: 1em .3em;
	z-index: 2000;
}

.carousel-control-next {
	position: absolute;
	top: 35%;
	right: 0.9%;
	cursor: pointer;
/*	border: 2px solid white;*/
	background-color: #30303050;
	border: none;
	padding: 1em .3em;
/*	width: 40px;*/
/*	height: 40px;*/
	z-index: 2000;

}

.carousel-control-prev:hover, 
.carousel-control-next:hover {
/*	filter: drop-shadow(4px 6px #e0000080);*/
	color: white;
/*	padding: 0.1em;*/
/*	border: 2px solid white;*/
	transition: all 0.3s;
}

/*
#btn0, #btn1 {
	background:none;
	border: none;
}*/

.imagestext {
	display: flex;
	flex-direction: column;
	position: absolute;	
	font-size: .7rem;
	top: 60%;
	right: 0;
	width: 60%;
	height: auto;
	color: white;
	padding: 3%;
	text-align: justify;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

.sumary {
	color: white;
	scale: 1;
	font-size: .5rem;
	cursor: pointer;
}

.parr {
	position: fixed;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 1);
	width: 90%;
	height: auto;
	color: white;
	top: 20%;
	margin: 10px;
	padding: 20px;
	border-radius: 2%;
	text-justify: justify;
	align-content: center;
	justify-items: center;
	justify-content: center;
	text-align: justify;
	z-index: 5000;
	font-size: .6rem;
}

.cuerpo {
	display: grid;
	grid-template-columns: auto auto;
}

.gtv {
	display: grid;
	grid-column: 1 span 2;
	width: 100%;
	height: 200px;
	margin: 0;
}

#gta {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;

	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 300px;
	margin: 0 auto;
	font-size: x-small;
	overflow: auto;
}

.anuncio {
	display: grid;
	grid-column: 3 span 4;
	position: relative;
	width: 20%;
	height: fit-content;
	margin: 0;
}

/*paginadownload*/
.page-download {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px auto;
	width: 70%;
	height: auto;
	gap: 10px;
}

.page-download article {
	display: flex;
	position: relative;
	flex-direction: column;
	place-items: center;
	width: 200px;
	height: auto;
	text-align: center;
/*	margin: 20px;*/
	gap: 5px;
}


.page-download article > a {
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	margin-bottom: 20px;
	padding: 4px;
	cursor: pointer;
}

.page-download article > a:hover {
	box-shadow: 2px 2px 10px #303030;
}

.port img {
	width: 120px;
	height: 200px;
}

.mega img {
	display: flex;
	position: relative;
	width: 100px;
	height:30px;
	margin: 0 auto;
}
.mega {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: center;
}


.row-down {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	width: 100%;
}


.row-down ad {
	position: relative;
	width: 5%;
}

.row-down .page-download {
	width: 60%;
}


.pagina2 {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: column;
}

.youvideos {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: space-between;
	justify-items: center;
	vertical-align: middle;
	width: 100%;
	height: auto;
	margin: 40px auto;
}

.you {
	position: relative;
	align-content: center;
	justify-items: center;
	margin: 0 auto;
}

.closeA, .closeB {
	display: flex;
	position: relative;
	float: right;
	margin: 10px;
	padding: 3px;
	border: solid 1px;
}

.closeB {
	justify-content: flex-end;
	text-align: right;
	width: fit-content;
}

.closeA:hover, .closeB:hover {
	cursor: pointer;
	background-color: rgba(250, 250, 250, 0.4);
}

.contenidos {
	display: none;
	position: fixed;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2000;
	width: auto;
	height: 80lvh;
	color: white;
	top: 30px;
	margin: 10px auto;
	text-align: center;
	text-justify: justify;
	align-content: center;
	justify-items: center;
	justify-content: center;
	z-index: 5000;
}

.cont-parafo {
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #303030;
	margin: 30px 40px;
	padding: 20px;
	width: auto;
	height: auto;
	object-position: center;
	align-self: center;
	justify-self: center;
	overflow: auto;
/*	gap: 100px;*/
}

.cont-parafo span {
	cursor: default;
	margin: 30px;
}

.cont-parafo p {
	font-size: 0.8rem;
	overflow: auto;
}

#car1, #car2, #car3, #car4, #car5 {
	display: none;
}

.foot {
	display: flex;
	position: relative;
	background-color: #303030;
	width: 100%;
	height: 20vh;
	margin-top: 10px;
}

.indicators {
	display: flex;
	position: relative;
	width: 100%;
}

.b0,.b1,.b2,
.b3,.b4,.b5 {
	border-bottom: 2px solid black;
	width: 100%;
	margin: 5px 8px;
	cursor: pointer;
	z-index: 4000;
	transition: opacity .4s;
}

.b0:not(:hover),
.b1:not(:hover),
.b2:not(:hover,
.b3:not(:hover),
.b4:not(:hover),
.b5:not(:hover) {

}

@media screen and (max-width: 768px) {

	.slider {
		display: flex;
		position: relative;
		width: auto;
		height: auto;
	}

	.b0,.b1,.b2,
	.b3,.b4,.b5 {
		border-bottom: 2px solid black;
		width: 100%;
		margin: 1px 2px;
		opacity: .3;
		cursor: pointer;
		z-index: 4000;
	}

	.primero {
		margin-top: 10px;
	}

	.slide0 img {
		/*display: flex;
		position: relative;
		background-size: contain;*/
		width: 200px;
/*		max-width: 400px;*/
		height: 400px;
	}
}