@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
/*  overflow-x: hidden;*/
}

header {
	min-height: 100lvh;
	min-height: 100dvh;
}

/*body {
	width: 100%;
	min-height: 100lvh;
	overflow-x: hidden;
}*/

.container {
	/*display: flex;
	position: relative;*/
	margin: 0 80px;
	padding: 50px 0;
/*	border: 1px solid white;*/
	width: 90%;
	height: fit-content;
/*	top: 0;*/
}

/*.container {
	display: contents;
	width: 90%;
	height: auto;
	margin: 0 40px;
	border: 1px solid black;
}*/

/*.primero {
	display: flex;
	position: relative;
	background-color: rgb(60, 55, 70);
	color: palegoldenrod;
	background-image: url('../img/logomultigames.png');
	background-size: 10% auto;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
}*/

.hero {
	display: grid;
	position: relative;
	width: 100%;
	height: 190lvh;
	min-height: 300px;
	max-height: 900px;
	padding: 5px;
	grid-template-rows: 100px 1fr;
/*	background-image: linear-gradient(to right, #4e2de25c 0%, #4a00e08c 100%);*/
/*	background-color: #e5e5f7;*/
	opacity: 0.9;
/*	background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);*/
	background-size: 20px 20px;
	background-image: radial-gradient(#daa520e9 0.5px, transparent 0.5px), radial-gradient(#daa520e9 0.5px, #daa520a1 1.5px);	
	background-position: 0 0,10px 10px;
	overflow: hidden;
/*	background-image: url('../img/logomultigames.png');*/
/*	border: 1px solid black;*/
}

.hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(360deg, #daa520e9 0%, #eee8aac2 100%), url('../img/logomultigames.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
	z-index: -1;
}

.hero-logo {
	display: block;
	position: absolute;
	background-image: url(../img/logomultigames.png);
	background-position: center;
	background-size: 165%;
	margin: 0.4em;
	object-fit: fill;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.navbar {
	display: flex;
	position: relative;
	background: none;
	width: auto;
	height: auto; 
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: .4em;
	z-index: 6000;
/*	border: 1px solid white;*/
}

.primero-titulo {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	flex-direction: row;
	font-weight: 900;
	width: auto;
	animation: mover-izq-der 3s 1;
	animation-fill-mode: forwards;
	color: #f5f5f5;
	padding: .2em;
	overflow: hidden;
	align-items: center;
}

/*.primero-titulo h1 {
	position: relative;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	font-weight: 900;
}*/


@keyframes mover-izq-der {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(110px);
	}
}

.navbar-nav {
	display: flex;
	position: relative;
	/*display: block;
	position: relative;
	margin: auto 0;*/
/*	border: 1px solid black;*/
	padding-left: .4em;
/*	margin-left: .4em;*/
	width: auto;
	height: auto;
	align-items: center;
}

.nav-items {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
/*	border: 1px solid white;*/
}

/*.nav-item a{
	color: white;
	text-decoration: none;
}*/

.nav-item {
	position: relative;
	display: flex;
	color: white;
	background: none;
	text-decoration: none;
	margin: auto;
	padding: 3px;
}

.nav-link {
	display: flex;
	position: relative;
	color: white;
	font-size: 0.7rem;
	background: none;
	border: none;
	text-decoration: none;
/*	width: 100%;*/
	gap: .4em;
/*	padding-bottom: .8em;*/
/*	border: 2px solid black;*/
}

.nav-link:hover:not(.active) {
	color: palegoldenrod;
}


.active .nav-link {
	background-color: rgba(250, 250, 250, .6);
	color: black;
	padding: 5px;
	border-radius: 2px;
}
/*
.main {
	position: relative;
	top: -50px;
}
*/
.call {
	background-color: #ffffff50;
	padding: .2em;
	color: black;
	border-radius: 3%;
	font-weight: 900;
}

.carusel {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
}

.slider {
	display: grid;
	position: absolute;
/*	place-content: center;*/
/*	place-items: center;*/
	margin: 40px auto 10px auto;
	top: 20%;
	width: 100%;
	height: auto;
}

.slide0 a {
	text-decoration: none;
}

.slide0 {
	display: block; 
	position: relative; 
	justify-content: center; 
	align-content: center; 
/*	min-width: 900px; */
	width: 100%;
	height: 400px;
/*	padding: 0 20%;*/
/*	border: 1px solid red;*/
	margin: 0 auto;
	background: linear-gradient( to top, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, 0.1) 100% );
	background-size: cover;
	place-content: center;
	object-position: center;
}

.slide0 img {
	 display: block;
	 position: relative;
	 object-fit: fill;
	 transition: all 0.3s ease-in-out;
	 width: 600px;
	 height: 100%;
	 margin: 0 auto;
/*	 z-index: -1;*/
	 /*right: -50%;
	 left: 50%;*/
/*	 object-position: center;*/
/*	 border: 1px solid green;*/
}

/*.slider {
	display: block;
	position: relative;
}*/

/*.arrow {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 20%;
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	cursor: pointer;
	border: 1px solid black;
}
*/

.carousel-control-prev {
	position: absolute;
	top: 35%;
	left: 0.9%;
	cursor: pointer;
/*	border: 2px solid white;*/
	background-color: #30303050;
	border: none;
	padding: 1em .3em;
	z-index: 2000;
}

.carousel-control-next {
	position: absolute;
	top: 35%;
	right: 0.9%;
	cursor: pointer;
/*	border: 2px solid white;*/
	background-color: #30303050;
	border: none;
	padding: 1em .3em;
/*	width: 40px;*/
/*	height: 40px;*/
	z-index: 2000;

}

.carousel-control-prev:hover, 
.carousel-control-next:hover {
/*	filter: drop-shadow(4px 6px #e0000080);*/
	color: white;
/*	padding: 0.1em;*/
/*	border: 2px solid white;*/
	transition: all 0.3s;
}

/*
#btn0, #btn1 {
	background:none;
	border: none;
}*/

.imagestext {
	display: flex;
	flex-direction: column;
	position: absolute;	
	font-size: .7rem;
	top: 110%;
	right: -50%;
	left: -50%;
	width: 750px;
	height: auto;
	color: white;
	padding: 3%;
	justify-self: center;
	text-align: justify-all;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
/*	border: 1px solid white;*/
}

/*summary {
	display: flex;
	position: relative;
}
*/
/*summary {
	display: flex;
	position: absolute;
	color: black;
	background-color: rgba(0, 0, 0, 1.0);
	font-size: .7rem; 
	cursor: pointer;	
	width: 100%;
	height: 100%;
}*/

/*.parr {
	position: fixed;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 1);
	width: 90%;
	height: auto;
	color: white;
	top: 20%;
	margin: 10px;
	padding: 20px;
	border-radius: 2%;
	text-justify: justify;
	align-content: center;
	justify-items: center;
	justify-content: center;
	text-align: justify;
	z-index: 5000;
	font-size: .6rem;
}*/

.cuerpo {
	display: grid;
	grid-template-columns: auto auto;
}

.gtv {
	display: grid;
	grid-column: 1 span 2;
	width: 100%;
	height: 200px;
	margin: 0;
}

.gtv h4 {
	text-align: center;
}

#gta {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
/*	background-color: rgba(0, 0, 0, 0.2);*/
	width: 100%;
	height: 300px;
	margin: 0 auto;
	font-size: x-small;
	overflow: auto;
	padding: 1em;
	gap: 2em;
	justify-content: center;
	background-color: #e5e5f7;
	scrollbar-width: none;
/*opacity: 0.8;*/
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #39393910, #444cf72c);
}

.gta5 {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: .4em;
/*	justify-content: center;*/
	text-align: center;
	list-style: none;
	padding-left: auto;
	width: 100%;
/*	border: 1px solid black;*/
}

.gta5 li {
	position: relative;
	border: 1px solid #30303090;
	padding: .5em;
	width: 100%;
}

.gta5 li b {
	display: flex;
	position: relative;
/*	left: 20;*/
/*	border: 1px solid black;*/
	width: auto;
/*	bottom: 50%;*/
}

.anuncio {
	display: grid;
	grid-column: 3 span 4;
	position: relative;
	width: 20%;
	height: fit-content;
	margin: 0;
}

/*paginadownload*/
.page-download {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px auto;
	width: 70%;
	height: auto;
	gap: 10px;
}

.page-download article {
	display: flex;
	position: relative;
	flex-direction: column;
	place-items: center;
	width: 200px;
	height: auto;
	text-align: center;
/*	margin: 20px;*/
	gap: 5px;
}


.page-download article > a {
	color: black;
	background-color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	margin-bottom: 20px;
	padding: 4px;
	cursor: pointer;
}

.page-download article > a:hover {
	box-shadow: 2px 2px 10px #303030;
}

.port img {
	width: 120px;
	height: 200px;
}

.mega img {
	display: flex;
	position: relative;
	width: 100px;
	height:30px;
	margin: 0 auto;
}

.mega {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: center;
}


.row-down {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	width: 100%;
}


.row-down ad {
	position: relative;
	width: 5%;
}

.row-down .page-download {
	width: 60%;
}


.pagina2 {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: column;
}

.yt {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: space-between;
	justify-items: center;
	vertical-align: middle;
	width: 100%;
	height: auto;
	margin: 40px auto;
}

.youvideos {
	display: none;
}

.you {
	position: relative;
	align-content: center;
	justify-items: center;
	margin: 0 auto;
}

.closeA, .closeB {
	display: flex;
	position: fixed;
/*	float: right;*/
	background-color: black;
	right: 0;
	margin: 30px;
	padding: 3px;
	border: solid 1px;
}

.closeB {
	justify-content: flex-end;
	text-align: right;
/*	width: fit-content;*/
}

.closeA:hover, .closeB:hover {
	cursor: pointer;
	background-color: rgba(250, 250, 250, 0.4);
}

.contenidos {
	display: none;
	position: fixed;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2000;
	width: auto;
	height: 80lvh;
	color: white;
	top: 30px;
	margin: 10px auto;
	text-align: center;
	text-justify: justify;
	align-content: center;
	justify-items: center;
	justify-content: center;
	z-index: 5000;
	overflow: scroll;
}

.cont-parafo {
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #303030;
	margin: 30px 40px;
	padding: 20px;
	width: auto;
	height: auto;
	object-position: center;
	align-self: center;
	justify-self: center;
	overflow: auto;
/*	gap: 100px;*/
}

.cont-parafo span {
	cursor: default;
	margin: 30px;
}

.cont-parafo p {
	font-size: 0.8rem;
	overflow: auto;
}

#car1, #car2, #car3, #car4, #car5 {
	display: none;
}

.foot {
	display: flex;
	position: relative;
	background-color: #303030;
	width: 100%;
	/* height: 20vh; */
	margin-top: 10px;
}

.indicators {
	display: flex;
	position: relative;
	width: 100%;
}

.b0, .b1, .b2, 
.b3, .b4, .b5 {
	border-bottom: 2px solid black;
	width: 100%;
	margin: 5px 8px;
	cursor: pointer;
	z-index: 4000;
	transition: opacity .4s;
}

/*.b0:not(:hover),
	.b1:not(:hover),
	.b2:not(:hover,
	.b3:not(:hover),
	.b4:not(:hover),
	.b5:not(:hover) {

	}*/

.foot {
	padding: 2em;
	justify-content: center;
}

.social h6 {
	font-size: 1.6rem;
	text-align: center;
/*	border: 1px solid white;*/
	color: white;
	margin-bottom: .8em;
}

.social-items {
	list-style: none;
	padding-left: auto;
	gap: 5em;
}

.social-icons {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	list-style: none;
	padding-left: auto;
	justify-content: center;
	margin-bottom: .7em;
/*	border: 1px solid white;*/
	gap: 2em;
}

.bi-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bi-youtube {
	color: #c4302b;
}

.social-link {
	text-decoration: none;
	color: #fff;
}

.amazon__articles {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: flex-end;
	width: auto;
	height: auto;
	cursor: pointer;
}

.ps5 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
/*	right: 0;*/
/*	z-index: -1;*/
	max-width: 500px;
	height: auto;

}

.ps5 img {
	width: 100%;
	height: 100%;
	z-index: -1;
}

.logo__amazon {
	display: block;
	position: absolute;
	background-image: url('../img/amazon.png');
	background-position: bottom;
	backdrop-filter: blur(10px, dar);

	background-size: cover;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
/*	bottom: 0;*/
	right: 0;
	z-index: 1000;
/*	border: 1px solid green;*/
}

.bestgames__item {
	margin:0 0 20px 0;
}

.bestgames__item p {
	font-size: .7rem;
}

@media screen and (max-width: 768px) {

	.hero {
		height: 250lvh;
	}

	.hero-logo {
		display: flex;
		position: absolute;
		top: 0;
/*		border: 1px solid white;*/
		width: 100px;
		height: 100px;
	}

	.nav-items {
		display: flex;
	}

	.container {
		margin: 0 20px;
/*		border: 1px solid green;*/
	}

	.navbar {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		flex-direction: row;
		top: 0;
/*		border: 1px solid white;*/
		max-width: 700px;
		/* margin: 0 auto; */
		justify-content: flex-end;
	}

	.b0, 
	.b1, 
	.b2,
	.b3, 
	.b4, 
	.b5 {
		border-bottom: 2px solid black;
		width: 100%;
		margin: 1px 2px;
		opacity: .3;
		cursor: pointer;
		z-index: 4000;
	}

	.primero {
		margin-top: 10px;
	}

	.slide0 {
		position: relative;
		width: 100%;
		max-height: 400px;
/*		border: 1px solid black;*/
		padding: 0 2%;
	}

	.slide0 img {
		object-fit: fill;
		width: 100%;
		height: 100%;
	}

	.cuerpo {
		/*display: flex;
		position: relative;*/
		grid-template-columns: auto auto;
		height: 100%;
/*		overflow: visible;*/
	}

	.imagestext {
		width: 70%;
	}

	/*.youvideos {
		flex-direction: column-reverse;
	}
*/
	/*.primero-titulo {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		flex-direction: row;
		font-weight: 900;
		width: auto;
		animation: mover-izq-der 3s 1;
		animation-fill-mode: forwards;
		color: palegoldenrod;
		padding: .4em;
		overflow: hidden;
		align-items: center;
}*/

		@keyframes mover-izq-der {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(5px);
		}
	}

}


